<% if user_signed_in? %>
<h1>Papa Tango</h1>
<%= link_to 'habilitaciones', profiles_path%>
<% if current_user.image.attached? %>
 <p>
 <strong>Image:</strong>
 <br>
 <%= image_tag current_user.image %>
 </p>
 
<% end %>
<% end %>